
<script type="text/ng-template"  id="tree_item_renderer.html">
    <input ng-model="data.text" ng-change="data.$save()" />
    <input ng-model="data.date" ng-change="data.$save()" />
    <!-- delete message -->
    <button ng-click="removeTask(key,data)">X</button>
    <button ng-click="addTask(key,{text:'a',date:'2014-01-02'},data)">+</button>
    <ul>
        <li ng-repeat="(key,data) in data.nodes" ng-include="'tree_item_renderer.html'"></li>
    </ul>
</script>

<ul >
    <li ng-repeat="(key,data) in tasks" ng-include="'tree_item_renderer.html'"></li>
</ul>

<!--<ul>-->
    <!--<li ng-repeat="task in tasks" my-repeat-directive>-->
        <!--<input ng-model="task.text" ng-change="tasks.$save(task)" />-->
         <!--<button ng-click="tasks.$remove(task)">X</button>-->
        <!--<button ng-click="">+</button>-->
    <!--</li>-->
<!--</ul>-->
<!-- push a new message into the array -->
<form ng-submit="addTask('',{text:newTaskText,date:newTaskDate})">
    <input ng-model="newTaskText" />
    <input ng-model="newTaskDate" />

    <button type="submit">add task</button>
</form>

