<nav class="navbar menu" ng-include="'templates/menu.html'"></nav>
<div class="container-fluid">

<div class="login-container" ng-controller="LoginCrtl">
    <!-- login div -->
    <div class="login">
        <!-- login header -->
        <h1 id="header">Sign up in seconds</h1>
        <!-- start da login goodness -->
        <form id="form">
            <input type="text" placeholder="What's your username?" maxlength="16" ng-model="user.name"><br />
            <input type="password" placeholder="Choose a password" ng-model="user.pwd"><br />
            <input type="button" value="Sign me up!" ng-click="login(user)">
            <p class="error">{{msg.error}}</p>
        </form>
    </div>
</div>

</div>
