<!DOCTYPE html>
<html >
<head lang="en">
    <meta charset="ISO-8859-1">
    <script src="js/app.min.js"></script>
    <link rel="stylesheet" href="css/app.css" type="text/css" media="all">
    <title></title>

</head>
<body ng-app="todoApp">

    <div ></div>
    <nav class="navbar menu" ng-include="'templates/menu.html'"></nav>
    <div class="tools">
        <div class="tools-items">
            <div class = 'trash dropzone' ng-include="'images/trash.svg'"></div>
            <div class = 'pencil' ng-include="'images/pencil.svg'"></div>
        </div>
    </div>
    <div class="painel container" >
        <ul class="filtros" ng-controller="FiltrosCtrl">
            <li ng-repeat="filter in filters" ng-click="select($index)" ng-class="{active: $index == selected}"><a>{{filter.text}}</a></li>
        </ul>
        <div class="post-it" id="yes-drop">
            <strong>Mary, Mary</strong>
            Mary, Mary, quite contrary,
            How does your garden grow?
            With silver bells, and cockle shells,
            And pretty maids all in a row.
        </div>
    </div>



    <!--<div ng-view></div>-->
    <!--<div ng-controller="Teste">-->
        <!--{{item}}-->
    <!--</div>-->
</body>
</html>